<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Tomorrowbring uses your location to show current weather conditions, so coaching suggestions account for whether it's a good day to be outside.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BanterGrotesk-Regular.otf</string>
		<string>BanterGrotesk-RegularItalic.otf</string>
		<string>BanterGrotesk-Semibold.otf</string>
		<string>BanterGrotesk-Black.otf</string>
	</array>
</dict>
</plist>
